/*
.chart, .people, .message-cloud, .swirl, .channels-chart, 
.referrals-chart, .man-green, .man-orange, .customers-blue, 
.icon-shadow, .dashboard-blue, .dashboard-green, .messages-blue, .messages-blue, 
.promotions-blue, .promotions-green, .page-blue, .page-blue:hover, .analytics-blue, .search, .check-orange, .check, .help, 
.man-blue, .settings-gray, .settings, .article, .ribbon-left, 
.light-bulb, .arrow-left, .arrow-right
{ display: inline-block; background: url('img/spritesheet-1.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.chart { background-position: -1px -0px; width: 445px; height: 210px; }
.people { background-position: -1px -215px; width: 262px; height: 166px; position: relative; bottom: 10px; left: 2px}
.message-cloud { background-position: -1px -387px; width: 239px; height: 150px; }
.swirl { background-position: -1px -538px; width: 225px; height: 160px; position: relative; left: 45px}
.channels-chart { background-position: -270px -215px; width: 85px; height: 84px; }
.referrals-chart { background-position: -356px -215px; width: 85px; height: 85px; }
.man-green { background-position: -270px -300px; width: 78px; height: 82px; position: relative; bottom: 137px; left: 22px}
.man-orange { background-position: -349px -301px; width: 78px; height: 82px; position: relative; bottom: 137px; left: 22px}
.customers-blue { background-position: -270px -383px; width: 62px; height: 42px; }
.customers-blue:hover { background-position: -333px -384px; width: 62px; height: 42px; }
.icon-shadow { background-position: -242px -424px; width: 56px; height: 5px; }
.dashboard-blue { background-position: -302px -427px; width: 58px; height: 58px; }
.dashboard-blue:hover { background-position: -361px -427px; width: 58px; height: 58px; }
.messages-blue { background-position: -241px -432px; width: 57px; height: 48px; }
.messages-blue:hover { background-position: -241px -481px; width: 57px; height: 48px; }
.promotions-blue { background-position: -299px -486px; width: 50px; height: 50px; }
.promotions-blue:hover { background-position: -350px -486px; width: 50px; height: 50px; }
.page-blue { background-position: -401px -486px; width: 45px; height: 50px; }
.page-blue:hover { background-position: -241px -530px; width: 45px; height: 50px; }
.analytics-blue { background-position: -287px -537px; width: 42px; height: 50px; }
.analytics-blue:hover { background-position: -330px -537px; width: 42px; height: 50px; }
.search { background-position: -428px -301px; width: 23px; height: 22px; }
.check-orange { background-position: -428px -324px; width: 22px; height: 21px; }
.check { background-position: -428px -346px; width: 22px; height: 20px; margin-right: -3px}
.help { background-position: -428px -367px; width: 20px; height: 20px; padding: 0px 8px;}
.man-blue { background-position: -396px -384px; width: 20px; height: 20px; margin-top: 3px; margin-left: 5px;}
.settings-gray { background-position: -241px -387px; width: 20px; height: 20px; position: absolute; top: 25px; right: 15px; }
.settings { background-position: -417px -388px; width: 20px; height: 20px; padding: 0px 0px 0px 0px;}


Generated by http://css.spritegen.com CSS Sprite Generator */
 
.chart, .people, .message-cloud, .swirl, .graph-green, 
.graph-orange, .under-graph, .channels-chart, .referrals-chart, .man-green, 
.man-orange, .customers-blue, .customers-green, .icon-shadow, .dashboard-blue, 
.dashboard-green, .messages-blue, .messages-green, .promotions-blue, .promotions-green, 
.page-blue, .page-green, .analytics-blue, .analytics-green, .car, 
.search, .button-left, .button-right, .check-orange, .check, 
.help, .man-blue, .man-gray, .settings-gray, .settings, 
.article, .facebook-hover, .facebook, .foursquare-hover, .foursquare, 
.twitter-hover, .twitter, .youtube-hover, .youtube, .ribbon-left, 
.ribbon-right, .arrow-up, .light-bulb, .arrow-left, .arrow-right, 
.arrow-down


{ display: inline-block; background: url('img/spritesheet-final.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.chart { background-position: -1px -0px; width: 451px; height: 214px; }
.people { background-position: -1px -215px; width: 262px; height: 166px; position: relative; bottom: 10px; left: 2px}
.message-cloud { background-position: -1px -387px; width: 239px; height: 150px; }
.swirl { background-position: -1px -538px; width: 225px; height: 160px; position: relative; left: 45px}
.graph-green { background-position: -241px -387px; width: 190px; height: 47px; }
.graph-orange { background-position: -241px -435px; width: 190px; height: 47px; }
.card:hover .graph-green { background-position: -241px -387px; width: 190px; height: 47px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.card:hover .graph-orange { background-position: -241px -435px; width: 190px; height: 47px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.under-graph { background-position: -241px -483px; width: 190px; height: 63px; position: relative; bottom: 50px;}
.channels-chart { background-position: -270px -215px; width: 85px; height: 84px; }
.referrals-chart { background-position: -356px -215px; width: 85px; height: 85px; }
.man-green { background-position: -270px -300px; width: 78px; height: 82px; position: relative; bottom: 137px; left: 22px}
.man-orange { background-position: -349px -301px; width: 78px; height: 82px; position: relative; bottom: 137px; left: 22px}
.card:hover .man-green { background-position: -270px -300px; width: 78px; height: 82px; position: relative; bottom: 137px; left: 22px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.card:hover .man-orange { background-position: -349px -301px; width: 78px; height: 82px; position: relative; bottom: 137px; left: 22px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.customers-blue { background-position: -227px -547px; width: 62px; height: 42px; }
.customers-blue:hover { background-position: -290px -547px; width: 62px; height: 42px; }
.icon-shadow { background-position: -347px -547px; width: 47px; height: 5px; }
.dashboard-blue { background-position: -353px -553px; width: 58px; height: 58px; }
.dashboard-blue:hover { background-position: -227px -590px; width: 58px; height: 58px; }
.messages-blue { background-position: -286px -590px; width: 57px; height: 48px; }
.messages-blue:hover { background-position: -344px -612px; width: 57px; height: 48px; }
.promotions-blue { background-position: -286px -639px; width: 50px; height: 50px; }
.promotions-blue:hover { background-position: -227px -649px; width: 50px; height: 50px; }
.page-blue { background-position: -402px -612px; width: 45px; height: 50px; }
.page-blue:hover { background-position: -337px -661px; width: 45px; height: 50px; }
.analytics-blue { background-position: -383px -663px; width: 42px; height: 50px; }
.analytics-blue:hover { background-position: -278px -690px; width: 42px; height: 50px; }
.car { background-position: -414px -547px; width: 30px; height: 30px; margin-right: 10px;}
.search { background-position: -428px -301px; width: 23px; height: 22px; }
.button-left { background-position: -428px -324px; width: 22px; height: 22px; }
.button-right { background-position: -428px -347px; width: 22px; height: 22px; }
.check-orange { background-position: -412px -578px; width: 22px; height: 21px; }
.check { background-position: -426px -663px; width: 22px; height: 20px; margin-right: -3px}
.rec-box:hover .check { background-position: -426px -663px; width: 22px; height: 20px; margin-right: -3px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.help { background-position: -426px -684px; width: 20px; height: 20px; padding: 0px 8px;}
.man-blue { background-position: -1px -699px; width: 20px; height: 20px; margin-top: 3px; margin-left: 5px;}
.task-list:hover .man-blue { background-position: -22px -699px; width: 20px; height: 20px; }
.settings-gray { background-position: -43px -699px; width: 20px; height: 20px; position: absolute; top: 25px; right: 15px; }
.settings { background-position: -64px -699px; width: 20px; height: 20px; padding: 0px 0px 0px 0px;}
.article { background-position: -432px -387px; width: 19px; height: 23px; }
.rec-box:hover .article { background-position: -432px -387px; width: 19px; height: 23px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.facebook:hover { background-position: -428px -370px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.facebook { background-position: -432px -411px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.foursquare:hover { background-position: -432px -428px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.foursquare { background-position: -432px -445px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.twitter:hover { background-position: -432px -462px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.twitter { background-position: -432px -479px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.youtube:hover { background-position: -432px -496px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.youtube { background-position: -432px -513px; width: 16px; height: 16px; margin: 0px 3px 0px 3px}
.ribbon-left { background-position: -321px -690px; width: 15px; height: 40px; position: relative; right: 144px; bottom: 94px}
.ribbon-right { background-position: -85px -699px; width: 15px; height: 40px; position: relative; left: 62px; bottom: 94px;}
.card:hover .ribbon-left { background-position: -321px -690px; width: 15px; height: 40px; position: relative; right: 144px; bottom: 94px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.card:hover .ribbon-right { background-position: -85px -699px; width: 15px; height: 40px; position: relative; left: 62px; bottom: 94px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.arrow-up { background-position: -432px -530px; width: 14px; height: 9px; }
.light-bulb { background-position: -435px -578px; width: 14px; height: 23px;}
.rec-box:hover .light-bulb { background-position: -435px -578px; width: 14px; height: 23px; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}
.arrow-left { background-position: -101px -699px; width: 11px; height: 18px; margin: 15px auto auto 2px;}
.arrow-right { background-position: -113px -699px; width: 11px; height: 18px; margin: 15px auto auto 12px;}
.arrow-down { background-position: -227px -538px; width: 10px; height: 6px;  height: 6px; margin: 14px auto auto 9px;}